
.header {
    width: 100%;
    background: #3A5698;
    color: white;
    &>div {
        width: 92%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    a {
        color: unset;
        display: block;
        height: fit-content;
        padding-top: 14px;
        font-size: 14px;
    }
}


.appWrapper {
    width: 84%;
    margin: 0 auto;
}