$blue: #337AB7;

.header {
    width: 100%;
    background: #3A5698;
    color: white;

    &>div {
        width: 92%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.chooseBtn {
    height: 30px;
    margin-top: 10px;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    color: #3A5698;
    display: block;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 600;

    &:hover {
        -webkit-box-shadow: inset 0px 0px 3px 1px rgb(102 175 233 / 50%);
                box-shadow: inset 0px 0px 3px 1px rgb(102 175 233 / 50%);
    }
}

.appWrapper {
    width: 84%;
    margin: 0 auto;
    min-height: 90vh;
}

.footer {
    width: 100%;
    background: #F5F5F5;
    font-size: 14px;
    height: 60px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    min-height: 5vh;
    
    &>div {
        width: 92%;
        margin: 0px auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 656px) {
    
    .appWrapper {
        height: 88vh;
        border: 1px solid transparent;
    }

    .footer {
        min-height: 300px;
        height: 200px;
        max-width: 100vw;
        &>div {
            width: 92%;
            margin: 0px auto;
            margin-top: 6px;
        }
    }
}

@media screen and (max-width: 376px) {

    .appWrapper {
        height: 85vh;
        min-height: 0;
    }

    .footer {
        max-width: 100vw;
        position: static;
        overflow: scroll;
        &>div {
            width: 92%;
            margin: 0px auto;
            margin-top: 4%;
        }
    }
}